USE [FacilitiesFeedbackManagement_SWP391]
GO
ALTER TABLE [dbo].[tbl_Users] DROP CONSTRAINT [FK_tblUser_RoleID]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [FK__tbl_Task__Manage__5EBF139D]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [FK__tbl_Task__Feedba__5CD6CB2B]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [FK__tbl_Task__Employ__5DCAEF64]
GO
ALTER TABLE [dbo].[tbl_Specialist] DROP CONSTRAINT [FK__tbl_Speci__UserI__52593CB8]
GO
ALTER TABLE [dbo].[tbl_Specialist] DROP CONSTRAINT [FK__tbl_Speci__CateI__534D60F1]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [FK__tbl_Feedb__UserI__4222D4EF]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [FK__tbl_Feedb__Posit__47DBAE45]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [FK__tbl_Feedb__CateI__46E78A0C]
GO
ALTER TABLE [dbo].[tbl_Users] DROP CONSTRAINT [DF__tbl_Users__Statu__3A81B327]
GO
ALTER TABLE [dbo].[tbl_Users] DROP CONSTRAINT [DF__tbl_Users__UserI__398D8EEE]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [DF__tbl_Task__Status__60A75C0F]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [DF__tbl_Task__Date_T__5FB337D6]
GO
ALTER TABLE [dbo].[tbl_Task] DROP CONSTRAINT [DF__tbl_Task__ID__4BAC3F29]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [DF__tbl_Feedb__Notif__49C3F6B7]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [DF__tbl_Feedb__Statu__48CFD27E]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [DF__tbl_Feedb__Respo__45F365D3]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [DF__tbl_Feedb__Date___4316F928]
GO
ALTER TABLE [dbo].[tbl_Feedback] DROP CONSTRAINT [DF__tbl_Feedb__Feedb__412EB0B6]
GO
/****** Object:  Index [UQ__tbl_User__A9D1053497C877FD]    Script Date: 11/4/2023 11:44:00 AM ******/
ALTER TABLE [dbo].[tbl_Users] DROP CONSTRAINT [UQ__tbl_User__A9D1053497C877FD]
GO
/****** Object:  Index [UQ__tbl_User__1788CCAD174AB4A3]    Script Date: 11/4/2023 11:44:00 AM ******/
ALTER TABLE [dbo].[tbl_Users] DROP CONSTRAINT [UQ__tbl_User__1788CCAD174AB4A3]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Users]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Users]
GO
/****** Object:  Table [dbo].[tbl_UserRole]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_UserRole]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_UserRole]
GO
/****** Object:  Table [dbo].[tbl_Task]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Task]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Task]
GO
/****** Object:  Table [dbo].[tbl_Specialist]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Specialist]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Specialist]
GO
/****** Object:  Table [dbo].[Tbl_RefreshToken]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_RefreshToken]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_RefreshToken]
GO
/****** Object:  Table [dbo].[tbl_Location]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Location]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Location]
GO
/****** Object:  Table [dbo].[tbl_Feedback]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_Feedback]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_Feedback]
GO
/****** Object:  Table [dbo].[tbl_CategoriesProblem]    Script Date: 11/4/2023 11:44:00 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbl_CategoriesProblem]') AND type in (N'U'))
DROP TABLE [dbo].[tbl_CategoriesProblem]
GO
USE [master]
GO
/****** Object:  Database [FacilitiesFeedbackManagement_SWP391]    Script Date: 11/4/2023 11:44:00 AM ******/
DROP DATABASE [FacilitiesFeedbackManagement_SWP391]
GO
/****** Object:  Database [FacilitiesFeedbackManagement_SWP391]    Script Date: 11/4/2023 11:44:00 AM ******/
CREATE DATABASE [FacilitiesFeedbackManagement_SWP391]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacilitiesFeedbackManagement_SWP391', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SA\MSSQL\DATA\FacilitiesFeedbackManagement_SWP391.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacilitiesFeedbackManagement_SWP391_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SA\MSSQL\DATA\FacilitiesFeedbackManagement_SWP391_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacilitiesFeedbackManagement_SWP391].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacilitiesFeedbackManagement_SWP391]
GO
/****** Object:  Table [dbo].[tbl_CategoriesProblem]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_CategoriesProblem](
	[ID] [char](3) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__tbl_Cate__3214EC2739C90B10] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Feedback]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Feedback](
	[FeedbackID] [uniqueidentifier] NOT NULL,
	[UserID] [varchar](36) NOT NULL,
	[Date_time] [datetime] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[DataUrl] [varchar](300) NOT NULL,
	[Response] [nvarchar](100) NULL,
	[CateID] [char](3) NOT NULL,
	[LocationID] [nvarchar](15) NOT NULL,
	[Status] [int] NULL,
	[Notify] [int] NULL,
 CONSTRAINT [Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Location]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Location](
	[LocationID] [nvarchar](15) NOT NULL,
	[DISABLE] [int] NULL,
 CONSTRAINT [PK__tbl_Posi__70B8202851753999] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RefreshToken]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RefreshToken](
	[UserId] [varchar](36) NOT NULL,
	[TokenId] [varchar](50) NULL,
	[RefreshToken] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Specialist]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Specialist](
	[UserID] [varchar](36) NOT NULL,
	[CateID] [char](3) NOT NULL,
 CONSTRAINT [Specialist_PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Task]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Task](
	[ID] [uniqueidentifier] NOT NULL,
	[FeedbackID] [uniqueidentifier] NOT NULL,
	[EmployeeID] [varchar](36) NOT NULL,
	[ManagerID] [varchar](36) NOT NULL,
	[Date_Time] [datetime] NULL,
	[ImgConfirmationURL] [varchar](300) NOT NULL,
	[Note] [nvarchar](300) NULL,
	[Status] [int] NULL,
	[Responsed] [nvarchar](300) NULL,
 CONSTRAINT [PK__tbl_Task__3214EC27ABB4FF31] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_UserRole]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_UserRole](
	[RoleID] [int] NOT NULL,
	[Description] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 11/4/2023 11:44:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [varchar](36) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleID] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_CategoriesProblem] ([ID], [Description]) VALUES (N'C01', N'ĐIỆN')
INSERT [dbo].[tbl_CategoriesProblem] ([ID], [Description]) VALUES (N'C02', N'NƯỚC')
INSERT [dbo].[tbl_CategoriesProblem] ([ID], [Description]) VALUES (N'C03', N'CƠ SỞ VẬT CHẤT')
GO
INSERT [dbo].[tbl_Feedback] ([FeedbackID], [UserID], [Date_time], [Title], [Description], [DataUrl], [Response], [CateID], [LocationID], [Status], [Notify]) VALUES (N'c42e51ed-7a68-4326-ab19-1f6d9b56d12f', N'SE172437', CAST(N'2023-11-03T16:02:17.353' AS DateTime), N'Ti Vi hư', N'TV không kết nối được', N'D:\code.Capstone\SWP391-Project\Group4.FacilitiesReport\Group4.FacilitiesReport.API\wwwroot\Uploading\Feedback\c42e51ed-7a68-4326-ab19-1f6d9b56d12f', NULL, N'C06', N'P.112', 1, 0)
INSERT [dbo].[tbl_Feedback] ([FeedbackID], [UserID], [Date_time], [Title], [Description], [DataUrl], [Response], [CateID], [LocationID], [Status], [Notify]) VALUES (N'2e17be16-5f2d-4593-a93f-3b9a9cea2f87', N'SE172437', CAST(N'2023-11-03T16:02:47.367' AS DateTime), N'Bàn gãy', N'Bàn bị gãy chân', N'D:\code.Capstone\SWP391-Project\Group4.FacilitiesReport\Group4.FacilitiesReport.API\wwwroot\Uploading\Feedback\2e17be16-5f2d-4593-a93f-3b9a9cea2f87', NULL, N'C03', N'P.112', 0, 0)
INSERT [dbo].[tbl_Feedback] ([FeedbackID], [UserID], [Date_time], [Title], [Description], [DataUrl], [Response], [CateID], [LocationID], [Status], [Notify]) VALUES (N'fa85cda4-b29f-4c59-8061-a60ad9e5956f', N'SE172440', CAST(N'2023-11-03T16:03:42.113' AS DateTime), N'Ổ điện hư', N'Không ăn điện', N'D:\code.Capstone\SWP391-Project\Group4.FacilitiesReport\Group4.FacilitiesReport.API\wwwroot\Uploading\Feedback\fa85cda4-b29f-4c59-8061-a60ad9e5956f', NULL, N'C01', N'P.222', 0, 0)
GO
INSERT [dbo].[tbl_Location] ([LocationID], [DISABLE]) VALUES (N'Hall A_1', 0)
INSERT [dbo].[tbl_Location] ([LocationID], [DISABLE]) VALUES (N'Hall A_2', 0)
INSERT [dbo].[tbl_Location] ([LocationID], [DISABLE]) VALUES (N'Hall A_3', 0)
GO
INSERT [dbo].[tbl_Specialist] ([UserID], [CateID]) VALUES (N'ES01', N'C02')
INSERT [dbo].[tbl_Specialist] ([UserID], [CateID]) VALUES (N'ES02', N'C01')
INSERT [dbo].[tbl_Specialist] ([UserID], [CateID]) VALUES (N'ES03', N'C03')
GO
INSERT [dbo].[tbl_Task] ([ID], [FeedbackID], [EmployeeID], [ManagerID], [Date_Time], [ImgConfirmationURL], [Note], [Status], [Responsed]) VALUES (N'acbfb114-4812-4f58-bd47-a4a3ff324491', N'8badd101-4031-4148-91be-fc7f63ca064a', N'ES01', N'MN02', CAST(N'2023-11-03T16:05:02.133' AS DateTime), N'D:\code.Capstone\SWP391-Project\Group4.FacilitiesReport\Group4.FacilitiesReport.API\wwwroot\Uploading\Task\acbfb114-4812-4f58-bd47-a4a3ff324491', N'Sửa lẹ em ơi', 0, NULL)
INSERT [dbo].[tbl_Task] ([ID], [FeedbackID], [EmployeeID], [ManagerID], [Date_Time], [ImgConfirmationURL], [Note], [Status], [Responsed]) VALUES (N'0c0b18d0-c677-470e-af0a-dfc9590a1575', N'c42e51ed-7a68-4326-ab19-1f6d9b56d12f', N'ES03', N'MN01', CAST(N'2023-11-03T16:05:39.123' AS DateTime), N'D:\code.Capstone\SWP391-Project\Group4.FacilitiesReport\Group4.FacilitiesReport.API\wwwroot\Uploading\Task\0c0b18d0-c677-470e-af0a-dfc9590a1575', N'Này sửa từ từ', 0, NULL)
GO
INSERT [dbo].[tbl_UserRole] ([RoleID], [Description]) VALUES (0, N'Student')
INSERT [dbo].[tbl_UserRole] ([RoleID], [Description]) VALUES (1, N'Manager')
INSERT [dbo].[tbl_UserRole] ([RoleID], [Description]) VALUES (2, N'Casual Employee')
GO
INSERT [dbo].[tbl_Users] ([UserID], [Username], [Email], [Password], [RoleID], [Status]) VALUES (N'ES01', N'Trần Nhựt Minh Tâm', N'tamtnmse172343@fpt.edu.vn', N'12345', 5, 0)
INSERT [dbo].[tbl_Users] ([UserID], [Username], [Email], [Password], [RoleID], [Status]) VALUES (N'ES02', N'Nguyễn Phương Nam', N'namnpse172338@fpt.edu.vn', N'12345', 5, 0)
INSERT [dbo].[tbl_Users] ([UserID], [Username], [Email], [Password], [RoleID], [Status]) VALUES (N'ES03', N'Nguyễn Thành Công', N'congntse172354@fpt.edu.vn', N'12345', 5, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_User__1788CCAD174AB4A3]    Script Date: 11/4/2023 11:44:00 AM ******/
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [UQ__tbl_User__1788CCAD174AB4A3] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_User__A9D1053497C877FD]    Script Date: 11/4/2023 11:44:00 AM ******/
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [UQ__tbl_User__A9D1053497C877FD] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Feedback] ADD  CONSTRAINT [DF__tbl_Feedb__Feedb__412EB0B6]  DEFAULT (newid()) FOR [FeedbackID]
GO
ALTER TABLE [dbo].[tbl_Feedback] ADD  CONSTRAINT [DF__tbl_Feedb__Date___4316F928]  DEFAULT (getdate()) FOR [Date_time]
GO
ALTER TABLE [dbo].[tbl_Feedback] ADD  CONSTRAINT [DF__tbl_Feedb__Respo__45F365D3]  DEFAULT (NULL) FOR [Response]
GO
ALTER TABLE [dbo].[tbl_Feedback] ADD  CONSTRAINT [DF__tbl_Feedb__Statu__48CFD27E]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Feedback] ADD  CONSTRAINT [DF__tbl_Feedb__Notif__49C3F6B7]  DEFAULT ((0)) FOR [Notify]
GO
ALTER TABLE [dbo].[tbl_Task] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[tbl_Task] ADD  CONSTRAINT [DF__tbl_Task__Date_T__5FB337D6]  DEFAULT (getdate()) FOR [Date_Time]
GO
ALTER TABLE [dbo].[tbl_Task] ADD  CONSTRAINT [DF__tbl_Task__Status__60A75C0F]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [DF__tbl_Users__UserI__398D8EEE]  DEFAULT (CONVERT([varchar](36),newid())) FOR [UserID]
GO
ALTER TABLE [dbo].[tbl_Users] ADD  CONSTRAINT [DF__tbl_Users__Statu__3A81B327]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tbl_Feedback]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Feedb__CateI__46E78A0C] FOREIGN KEY([CateID])
REFERENCES [dbo].[tbl_CategoriesProblem] ([ID])
GO
ALTER TABLE [dbo].[tbl_Feedback] CHECK CONSTRAINT [FK__tbl_Feedb__CateI__46E78A0C]
GO
ALTER TABLE [dbo].[tbl_Feedback]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Feedb__Posit__47DBAE45] FOREIGN KEY([LocationID])
REFERENCES [dbo].[tbl_Location] ([LocationID])
GO
ALTER TABLE [dbo].[tbl_Feedback] CHECK CONSTRAINT [FK__tbl_Feedb__Posit__47DBAE45]
GO
ALTER TABLE [dbo].[tbl_Feedback]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Feedb__UserI__4222D4EF] FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Feedback] CHECK CONSTRAINT [FK__tbl_Feedb__UserI__4222D4EF]
GO
ALTER TABLE [dbo].[tbl_Specialist]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Speci__CateI__534D60F1] FOREIGN KEY([CateID])
REFERENCES [dbo].[tbl_CategoriesProblem] ([ID])
GO
ALTER TABLE [dbo].[tbl_Specialist] CHECK CONSTRAINT [FK__tbl_Speci__CateI__534D60F1]
GO
ALTER TABLE [dbo].[tbl_Specialist]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Speci__UserI__52593CB8] FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Specialist] CHECK CONSTRAINT [FK__tbl_Speci__UserI__52593CB8]
GO
ALTER TABLE [dbo].[tbl_Task]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Task__Employ__5DCAEF64] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Task] CHECK CONSTRAINT [FK__tbl_Task__Employ__5DCAEF64]
GO
ALTER TABLE [dbo].[tbl_Task]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Task__Feedba__5CD6CB2B] FOREIGN KEY([FeedbackID])
REFERENCES [dbo].[tbl_Feedback] ([FeedbackID])
GO
ALTER TABLE [dbo].[tbl_Task] CHECK CONSTRAINT [FK__tbl_Task__Feedba__5CD6CB2B]
GO
ALTER TABLE [dbo].[tbl_Task]  WITH CHECK ADD  CONSTRAINT [FK__tbl_Task__Manage__5EBF139D] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Task] CHECK CONSTRAINT [FK__tbl_Task__Manage__5EBF139D]
GO
ALTER TABLE [dbo].[tbl_Users]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tbl_UserRole] ([RoleID])
GO
ALTER TABLE [dbo].[tbl_Users] CHECK CONSTRAINT [FK_tblUser_RoleID]
GO
USE [master]
GO
