body {
    cursor: default;
}

/* Add this to your component's CSS file or a global stylesheet */
.status-cell {
    position: relative;
}

.hover-content {
    display: none;
    position: absolute;
    margin-top: 5px;
    top: 100%;
    left: 0.5rem;
    min-width: 12rem;
    background-color: #efefef;
    padding: 10px;
    z-index: 2;
    border-radius: 5px;
}

.hover-content::before {
    margin-top: 0;
    left: 0;
    position: absolute;
    content: "";
    /* border: solid; */
    /* background-color: none; */
    width: 100%;
    height: 20px;
    top: -10px;
}

.status-cell:hover .hover-content {
    display: block;
}